@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--success: 142 53% 40%; /* Adjusted green */
		--success-foreground: 0 0% 98%;

		--warning: 48 80% 50%; /* Adjusted yellow */
		--warning-foreground: 38 92% 50%;

		--destructive: 0 62.8% 40%; /* Adjusted red */
		--destructive-foreground: 0 0% 98%;

		--purple: 258 60% 50%; /* Adjusted purple */
		--purple-foreground: 0 0% 98%;

		--blue: 217 72% 50%; /* Adjusted blue */
		--blue-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		@apply overflow-x-clip;
	}
}

@layer components {
	.container {
		@apply px-4 sm:px-8;
	}
}

a:hover #content {
	transform: rotateY(-20deg);
}

.markdown {
	@apply max-w-none;
}

blockquote {
	@apply border-l-4 border-primary-foreground pl-4 italic my-4 text-muted-foreground;
}

code,
pre {
	@apply bg-gray-200 p-2 rounded;
}

pre {
	@apply overflow-x-auto;
}

h1 {
	@apply text-3xl font-bold mt-12 mb-6; /* Larger and bolder than h2 */
}

h2 {
	@apply text-2xl font-bold mt-5 mb-3; /* Slightly smaller than h1 */
}

h3 {
	@apply text-xl font-semibold mt-4 mb-2; /* Slightly smaller than h2 */
}

h4 {
	@apply text-lg font-semibold mt-3 mb-1.5;
}

h5 {
	@apply font-semibold mt-2 mb-1;
}

h6 {
	@apply text-base font-semibold mt-1.5 mb-0.5; /* Slightly smaller than h5 */
}

p {
	@apply mb-4 leading-relaxed text-lg;
}

/* MARKDOWN LIST STYLING */
ul,
ol {
	@apply list-inside pl-6;
	list-style-type: disc;
}

ul li::marker,
ol li::marker {
	@apply text-muted-foreground;
}

ul ul,
ol ul,
ul ol,
ol ol {
	list-style-type: disc;
	@apply pl-6;
}

li {
	@apply mb-2;
	text-indent: -16px;
	padding-left: 4px;
}

li p {
	@apply m-0;
}

.glassmorphism {
	background: hsla(var(--background), 0.2);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}
