---
import { Button } from '@/components/ui/button'
import Layout from '../layouts/Layout.astro'
import './globals.css'
---

<Layout title='Welcome to Astro.'>
	<main>
		<h1 class='text-blue-500 bg-red-6'>Evan Henry</h1>
		<Button> test</Button>
	</main>
</Layout>
